.title {
  font-weight: 500 !important;
  font-size: 22px !important;
}

.paper {
  border-radius: 8px !important;
  margin-bottom: 30px;
  padding: 30px 50px !important;
  @media (max-width: 767px) {
    padding: 30px 20px 20px !important;
    border-radius: 0 !important;
  }
}

.text {
  a {
    color: #07a287;
    text-decoration: underline;
  }
}
